html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: #636363;
    font-family: 'Inter', sans-serif;
}

.carregando {
    opacity: .2;
    pointer-events: none;
}

* {
    box-sizing: border-box; /*Considera o padding para calcular a largura dos elementos*/
    max-width: 550px;
    margin: 0.5em auto;  /*Centraliza o conteúdo*/
    
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
    color:#f16825;
}

h2 {
    
    font-size: 24px;
    color: #636363;
    margin-top: 1em;
}

h3 {
    
    font-size: 24px;
    color: #636363;
    margin-top: 1em;
    font-weight: 400;
}


footer {
    font-size: small;
    font-weight: bold;
    margin-top: 3em; 
}

a {
    color:#f16825;
}

.pergunta {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.contagem {
    font-weight: bold;
    font-size: large;
}
